 /* navbar */
 .navbar {
    border: 1px solid black;
}

 .nav-link{
    color:white !important;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-title{
    color: black;
    font-size: 55px;
    font-weight: bold;
    text-decoration: none;
}

.nav-title:hover{
    text-decoration: none;
}

.form-inline{
    margin-left: auto;
}
/* BODY */
.head1{
    margin-left: 5px;
    color: black;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.card-body a{
    text-decoration: none;
    color: black;
}

/* CARD */
.card-title{
    color: black;
    font-weight: bold;
}

.card-title:hover{
    text-decoration: none;
    color: black;
}
.card-text{
    color: black;
    font-style: italic;
}

.card-text:hover{
    color: black;
    text-decoration: none;
}

.container{
    margin-bottom: 15px;
}

.card{
    height: 480px;
    margin-bottom: 20px;
}

/* footer */
.page-footer{
    margin-top: 15px;
}

.row h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgba(223, 223, 223, 0.959);

}
.list-unstyled a{
    color:white;
    text-decoration: none;
}
.list-unstyled a:hover{
    color: rgb(253, 46, 46);
}
.footer-copyright{
    color: aliceblue;
    font-size: 20px;
    
}
.footer-copyright span{
    color: rgb(253, 46, 46);
    font-size: 20px;
}
.footer-copyright a{
    color: rgb(241, 181, 28);
    font-size: 20px;
}
#social-icons a{
   font-size: 40px;
   margin-left: 25px;
}

#social-icons{
    width: 100%;
}

.info{
    color: white;
    font-size: 15px;
}